:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 전체 앱을 화면 정중앙에 */
.app-root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}
